# Machine Learning Notebook 6: Decision Trees Regression

### Compiled by Amit Purswani
LinkedIn: https://www.linkedin.com/in/amit-purswani-2a073777/

Repositories
1. Data Analysis:
https://github.com/kranemetal/Data-Analysis-Projects

2. Machine Learning:
https://github.com/kranemetal/MachineLearning

<b>Notes:</b>
1. CART stands for Classification and Regression Tree
2. Decision trees can be used for solving both regression as well as classification problems.
3. Decision Tree algorithms solve machine learning problems by splitting the dataset into smaller and smaller branches and leaves.
4. Splitting of dataset is recursively done until the splitted section of dataset gives the answer either to a regression problem as a value or a decision about a class in classification problem.
5. How to split datset, which feature to use for split, how many levels of split till answer is found, all these can be configured with Decision Trees.

### Importing the libraies

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Importing the dataset

In [2]:
df = pd.read_csv('C:\\Users\krane\Desktop\datasets\Position_Salaries.csv')

### Basic sanity checks on dataset

In [3]:
df.head()

            Position  Level  Salary
0   Business Analyst      1   45000
1  Junior Consultant      2   50000
2  Senior Consultant      3   60000
3            Manager      4   80000
4    Country Manager      5  110000

In [4]:
df.shape

(10, 3)

In [5]:
df

            Position  Level   Salary
0   Business Analyst      1    45000
1  Junior Consultant      2    50000
2  Senior Consultant      3    60000
3            Manager      4    80000
4    Country Manager      5   110000
5     Region Manager      6   150000
6            Partner      7   200000
7     Senior Partner      8   300000
8            C-level      9   500000
9                CEO     10  1000000

In [6]:
df.isnull().sum()

Position    0
Level       0
Salary      0
dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Position  10 non-null     object
 1   Level     10 non-null     int64
 2   Salary    10 non-null     int64
dtypes: int64(2), object(1)
memory usage: 368.0+ bytes

In [8]:
df.describe()

          Level          Salary
count  10.00000       10.000000
mean    5.50000   249500.000000
std     3.02765   299373.883668
min     1.00000    45000.000000
25%     3.25000    65000.000000
50%     5.50000   130000.000000
75%     7.75000   275000.000000
max    10.00000  1000000.000000

### Splitting independent variable X and dependent variable Y

In [9]:
x = df.iloc[:,1:-1].values #second column only
y = df.iloc[:,-1].values #last column only

#### Feature Scaling not required for Decision Trees as it works on splitting data recursively and any other equations are not involved, where numeric value of features can have adverse effect.

### Training Decision Tree model on whole datset

In [10]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor(random_state=0)
regressor.fit(x, y)

DecisionTreeRegressor(random_state=0)

### Predicting a new result for Level 6.5

In [11]:
regressor.predict([[6.5]])

array([150000.])

1. Here the prediction is same as level 6, and not a higher value as expected for level 6.5.
2. This is because the dataset is too small and Decision Tree model is more suitable for a problem with multiple features.

### <center>The End